clinicDeno/Connected Services/MyDenoDBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/clinicDenoDB" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinicAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinicAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinicAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinicAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAdminVerifyStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminVerifyStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAdminVerifyStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminVerifyStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AdminLoginVerify_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginVerify" />
  </wsdl:message>
  <wsdl:message name="IService1_AdminLoginVerify_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentByPatientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByPatientId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentByPatientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointmentStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointmentStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdByNRIC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNRIC" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdByNRIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNRICResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClinicByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClinicByName" message="tns:IService1_GetClinicByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClinicByNameResponse" message="tns:IService1_GetClinicByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateClinic" message="tns:IService1_CreateClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateClinicResponse" message="tns:IService1_CreateClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllClinic" message="tns:IService1_GetAllClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllClinicResponse" message="tns:IService1_GetAllClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClinicAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateClinicAdmin" message="tns:IService1_CreateClinicAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateClinicAdminResponse" message="tns:IService1_CreateClinicAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminVerifyStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAdminVerifyStatus" message="tns:IService1_UpdateAdminVerifyStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAdminVerifyStatusResponse" message="tns:IService1_UpdateAdminVerifyStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminLoginVerify">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AdminLoginVerify" message="tns:IService1_AdminLoginVerify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AdminLoginVerifyResponse" message="tns:IService1_AdminLoginVerify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAppointments" message="tns:IService1_GetAllAppointments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAppointmentsResponse" message="tns:IService1_GetAllAppointments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentByPatientId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppointmentByPatientId" message="tns:IService1_GetAppointmentByPatientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppointmentByPatientIdResponse" message="tns:IService1_GetAppointmentByPatientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppointmentById" message="tns:IService1_GetAppointmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppointmentByIdResponse" message="tns:IService1_GetAppointmentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointmentStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAppointmentStatus" message="tns:IService1_UpdateAppointmentStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAppointmentStatusResponse" message="tns:IService1_UpdateAppointmentStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientById" message="tns:IService1_GetPatientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientByIdResponse" message="tns:IService1_GetPatientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdByNRIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetIdByNRIC" message="tns:IService1_GetIdByNRIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetIdByNRICResponse" message="tns:IService1_GetIdByNRIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDoctorById" message="tns:IService1_GetDoctorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDoctorByIdResponse" message="tns:IService1_GetDoctorById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinicByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClinicByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClinicAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateClinicAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminVerifyStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAdminVerifyStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLoginVerify">
      <soap:operation soapAction="http://tempuri.org/IService1/AdminLoginVerify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentByPatientId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppointmentByPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppointmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointmentStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAppointmentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdByNRIC">
      <soap:operation soapAction="http://tempuri.org/IService1/GetIdByNRIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDoctorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/clinicDenoDB/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>