clinicDeno/Connected Services/MyDenoDBServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/clinicDenoDB" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClinicByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClinicByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClinic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClinic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllClinic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClinicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinicAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinicAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateClinicAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateClinicAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAdminVerifyStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminVerifyStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAdminVerifyStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdminVerifyStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AdminLoginVerify_InputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginVerify" />
  </wsdl:message>
  <wsdl:message name="IService1_AdminLoginVerify_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdminLoginVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointments" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllAppointments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAppointmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentByPatientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByPatientId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentByPatientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByPatientIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointmentStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentStatus" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAppointmentStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAppointmentStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdByNRIC_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNRIC" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdByNRIC_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdByNRICResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDoctorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDoctorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMR_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMR" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMR_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMRResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMRById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMRById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMRById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMRByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMRById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMRById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMRById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMRByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMIById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMIById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMIById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMIByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMIById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMIById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMIById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMIByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMI_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMI" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMI_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMIResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMC_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMC" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateMC_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMCResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMCById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectMCById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectMCById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectMCByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMCById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMCById" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectOneMCById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectOneMCByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDoctor_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDoctor" />
  </wsdl:message>
  <wsdl:message name="IService1_CreateDoctor_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDoctorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DoctorLoginVerify_InputMessage">
    <wsdl:part name="parameters" element="tns:DoctorLoginVerify" />
  </wsdl:message>
  <wsdl:message name="IService1_DoctorLoginVerify_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoctorLoginVerifyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByName" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPatientByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AppointAddMRId_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointAddMRId" />
  </wsdl:message>
  <wsdl:message name="IService1_AppointAddMRId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointAddMRIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AppointAddMCId_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointAddMCId" />
  </wsdl:message>
  <wsdl:message name="IService1_AppointAddMCId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointAddMCIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AppointAddMIId_InputMessage">
    <wsdl:part name="parameters" element="tns:AppointAddMIId" />
  </wsdl:message>
  <wsdl:message name="IService1_AppointAddMIId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AppointAddMIIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectClinicByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectClinicByID" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectClinicByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectClinicByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentByDoctorId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByDoctorId" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAppointmentByDoctorId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppointmentByDoctorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClinicByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClinicByName" message="tns:IService1_GetClinicByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClinicByNameResponse" message="tns:IService1_GetClinicByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateClinic" message="tns:IService1_CreateClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateClinicResponse" message="tns:IService1_CreateClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClinic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllClinic" message="tns:IService1_GetAllClinic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllClinicResponse" message="tns:IService1_GetAllClinic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateClinicAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateClinicAdmin" message="tns:IService1_CreateClinicAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateClinicAdminResponse" message="tns:IService1_CreateClinicAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminVerifyStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAdminVerifyStatus" message="tns:IService1_UpdateAdminVerifyStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAdminVerifyStatusResponse" message="tns:IService1_UpdateAdminVerifyStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdminLoginVerify">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AdminLoginVerify" message="tns:IService1_AdminLoginVerify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AdminLoginVerifyResponse" message="tns:IService1_AdminLoginVerify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllAppointments" message="tns:IService1_GetAllAppointments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllAppointmentsResponse" message="tns:IService1_GetAllAppointments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentByPatientId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppointmentByPatientId" message="tns:IService1_GetAppointmentByPatientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppointmentByPatientIdResponse" message="tns:IService1_GetAppointmentByPatientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppointmentById" message="tns:IService1_GetAppointmentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppointmentByIdResponse" message="tns:IService1_GetAppointmentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointmentStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAppointmentStatus" message="tns:IService1_UpdateAppointmentStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAppointmentStatusResponse" message="tns:IService1_UpdateAppointmentStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientById" message="tns:IService1_GetPatientById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientByIdResponse" message="tns:IService1_GetPatientById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdByNRIC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetIdByNRIC" message="tns:IService1_GetIdByNRIC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetIdByNRICResponse" message="tns:IService1_GetIdByNRIC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDoctorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDoctorById" message="tns:IService1_GetDoctorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDoctorByIdResponse" message="tns:IService1_GetDoctorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMR">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMR" message="tns:IService1_CreateMR_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMRResponse" message="tns:IService1_CreateMR_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMRById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectMRById" message="tns:IService1_SelectMRById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectMRByIdResponse" message="tns:IService1_SelectMRById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneMRById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectOneMRById" message="tns:IService1_SelectOneMRById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectOneMRByIdResponse" message="tns:IService1_SelectOneMRById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMIById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectMIById" message="tns:IService1_SelectMIById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectMIByIdResponse" message="tns:IService1_SelectMIById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneMIById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectOneMIById" message="tns:IService1_SelectOneMIById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectOneMIByIdResponse" message="tns:IService1_SelectOneMIById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMI">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMI" message="tns:IService1_CreateMI_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMIResponse" message="tns:IService1_CreateMI_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateMC">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateMC" message="tns:IService1_CreateMC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateMCResponse" message="tns:IService1_CreateMC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectMCById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectMCById" message="tns:IService1_SelectMCById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectMCByIdResponse" message="tns:IService1_SelectMCById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneMCById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectOneMCById" message="tns:IService1_SelectOneMCById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectOneMCByIdResponse" message="tns:IService1_SelectOneMCById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDoctor">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CreateDoctor" message="tns:IService1_CreateDoctor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CreateDoctorResponse" message="tns:IService1_CreateDoctor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoctorLoginVerify">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DoctorLoginVerify" message="tns:IService1_DoctorLoginVerify_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DoctorLoginVerifyResponse" message="tns:IService1_DoctorLoginVerify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPatientByName" message="tns:IService1_GetPatientByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPatientByNameResponse" message="tns:IService1_GetPatientByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointAddMRId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AppointAddMRId" message="tns:IService1_AppointAddMRId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AppointAddMRIdResponse" message="tns:IService1_AppointAddMRId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointAddMCId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AppointAddMCId" message="tns:IService1_AppointAddMCId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AppointAddMCIdResponse" message="tns:IService1_AppointAddMCId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AppointAddMIId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AppointAddMIId" message="tns:IService1_AppointAddMIId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AppointAddMIIdResponse" message="tns:IService1_AppointAddMIId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectClinicByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectClinicByID" message="tns:IService1_SelectClinicByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectClinicByIDResponse" message="tns:IService1_SelectClinicByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentByDoctorId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAppointmentByDoctorId" message="tns:IService1_GetAppointmentByDoctorId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAppointmentByDoctorIdResponse" message="tns:IService1_GetAppointmentByDoctorId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClinicByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClinicByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClinic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllClinic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateClinicAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateClinicAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdminVerifyStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAdminVerifyStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLoginVerify">
      <soap:operation soapAction="http://tempuri.org/IService1/AdminLoginVerify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAppointments">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllAppointments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentByPatientId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppointmentByPatientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppointmentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAppointmentStatus">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAppointmentStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdByNRIC">
      <soap:operation soapAction="http://tempuri.org/IService1/GetIdByNRIC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDoctorById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDoctorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMR">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMRById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectMRById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneMRById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectOneMRById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMIById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectMIById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneMIById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectOneMIById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMI">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateMC">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectMCById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectMCById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneMCById">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectOneMCById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDoctor">
      <soap:operation soapAction="http://tempuri.org/IService1/CreateDoctor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoctorLoginVerify">
      <soap:operation soapAction="http://tempuri.org/IService1/DoctorLoginVerify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientByName">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPatientByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointAddMRId">
      <soap:operation soapAction="http://tempuri.org/IService1/AppointAddMRId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointAddMCId">
      <soap:operation soapAction="http://tempuri.org/IService1/AppointAddMCId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AppointAddMIId">
      <soap:operation soapAction="http://tempuri.org/IService1/AppointAddMIId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectClinicByID">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectClinicByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppointmentByDoctorId">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAppointmentByDoctorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/clinicDenoDB/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>