clinicDeno/Connected Services/MyDenoDBServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/clinicDenoDB" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/clinicDenoDB" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/clinicDenoDB" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenClinicName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClinicByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetClinicByNameResult" nillable="true" type="q3:Clinic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClinic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicType" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="startTime" type="q4:duration" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="endTime" type="q5:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClinicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClinicResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClinic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClinicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetAllClinicResult" nillable="true" type="q6:ArrayOfClinic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClinicAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="verificationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClinicAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateClinicAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdminVerifyStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verificationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAdminVerifyStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLoginVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdminLoginVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AdminLoginVerifyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAppointments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAppointmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetAllAppointmentsResult" nillable="true" type="q7:ArrayOfAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentByPatientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentByPatientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetAppointmentByPatientIdResult" nillable="true" type="q8:ArrayOfAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetAppointmentByIdResult" nillable="true" type="q9:Appointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointmentStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAppId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppointmentStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetPatientByIdResult" nillable="true" type="q10:Patient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdByNRIC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nric" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdByNRICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdByNRICResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoctorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetDoctorByIdResult" nillable="true" type="q11:Doctor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="allergies" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="familyMedicalHistory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentMedications" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="diagnosis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appointmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMRResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMRById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenPatientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMRByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="SelectMRByIdResult" nillable="true" type="q12:ArrayOfMedicalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOneMRById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenMRId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOneMRByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="SelectOneMRByIdResult" nillable="true" type="q13:MedicalRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMIById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenPatientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMIByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="SelectMIByIdResult" nillable="true" type="q14:ArrayOfMedicalInstruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOneMIById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenMIId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOneMIByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="SelectOneMIByIdResult" nillable="true" type="q15:MedicalInstruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="prescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="instruction" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="refills" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appointmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMIResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="comments" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="doctorSignature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patientId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="appointmentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMCById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenPatientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectMCByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="SelectMCByIdResult" nillable="true" type="q16:ArrayOfMedicalCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOneMCById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenMCId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOneMCByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="SelectOneMCByIdResult" nillable="true" type="q17:MedicalCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDoctor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
        <xs:element minOccurs="0" name="gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="signature" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clinicId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDoctorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateDoctorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorLoginVerify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoctorLoginVerifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DoctorLoginVerifyResult" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatientByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetPatientByNameResult" nillable="true" type="q19:ArrayOfPatient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointAddMRId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointAddMRIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointAddMCId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointAddMCIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointAddMIId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppointAddMIIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClinicByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="givenClinicID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectClinicByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="SelectClinicByIDResult" nillable="true" type="q20:Clinic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentByDoctorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doctorId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppointmentByDoctorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/clinicDenoDB.Entity" minOccurs="0" name="GetAppointmentByDoctorIdResult" nillable="true" type="q21:ArrayOfAppointment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>